[Unit]
Description=amdgpu-fancontrol

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/amdgpu-fancontrol

[Install]
WantedBy=multi-user.target
